@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Jua', sans-serif;
  
  --color-pastel-bg: #FFFDF0;
  --color-rainbow-1: #FF5F5F;
  --color-rainbow-2: #FFA05F;
  --color-rainbow-3: #FFB800;
  --color-rainbow-4: #4AC948;
  --color-rainbow-5: #5FBFFF;
  --color-rainbow-6: #5F7FFF;
  --color-rainbow-7: #BF5FFF;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-pastel-bg);
  color: #333;
  -webkit-tap-highlight-color: transparent;
}
